.profile__occupation {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  grid-row: 2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

@media (max-width: 900px) {
  .profile__occupation {
    font-size: 14px;
    grid-column: 2;
    text-align: center;
  }
}
