.popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all .3s linear 0s;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}
